{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'seller/css/create_item.css' %}">
</head>
<body>
    <div class="h1">Edit Item</div>
    <div class="form-fields">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">編集</button>
        </form>
    </div>
    <div class="back-container">
        <a href="javascript:history.go(-1)" class="back-btn">戻る</a>
    </div>
</body>
</html>
