{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>出品者画面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'seller/css/home.css' %}">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <h1>野菜オンラインショップ（出品）</h1>
        </div>
        <div class="logout-container">
            <a href="{% url 'accounts:logout' %}" class="logout-btn">ログアウト</a>
        </div>
        <div class="personal-info">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="プロフィール画像">
            {% else %}
            <img src="{% static 'images/NoFace.jpg' %}" alt="プロフィール画像">
            {% endif %}
            <p>出品者名 : {{ user.last_name }} {{ user.first_name }}</p>
            <p>住所 : {{ seller.address}}</p>
            <a href="{% url 'accounts:edit_profile' %}" class="edit-profile-btn">プロフィールを編集する</a>
        </div>
        <a href="{% url 'seller:create_item' %}" class="submit-button">出品する</a>
        <h2>出品している野菜一覧</h2>
        <div class="product-list">
            {% for vegetable in vegetables %}
            <div class="product">
                <h3>野菜名：{{ vegetable.item_name }}</h3>
                <p>価格 : {{ vegetable.content_price|floatformat:"0" }}円</p>
                <a href="{% url 'seller:product_detail' vegetable_id=vegetable.id %}">詳細を見る</a>
            </div>
            {% endfor %}
        </div>
        <div class="toggle-mode-container">
            <a href="{% url 'buyer:home' %}" class="toggle-mode-btn">購入モード切替</a>
        </div>
</body>
</html>
