<!DOCTYPE html>
<html>
<head>
    <title>野菜詳細</title>
</head>
<body>
    <h1>野菜詳細</h1>
    <div class="product-detail">
        <h3>野菜名：{{ vegetable.item_name }}</h3>
        <p>品種名：{{ vegetable.item_type }}</p>
        <p>価格：{{ vegetable.price|floatformat:"0" }}円</p>
        <p>まとまりの内容個数：{{ vegetable.content_quantity }}</p>
        <p>まとまりの価格：{{ vegetable.content_price|floatformat:"0" }}円</p>
        <p>まとまりの総数：{{ vegetable.total_quantity }}</p>
    </div>
    <a href="{% url 'seller:home' %}">一覧に戻る</a>
</body>
</html>
