<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Seller</title>
    <link rel="stylesheet" type="text/css" href="{% static 'seller/css/seller_not_found.css' %}">
</head>
<body>
    <h1>Register as Seller</h1>
    <p>出品者として登録がされていません。出品者モードに切り替えるには出品者として登録してください。</p>
    <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary">Settings</a>
    <div class="back-container">
        <a href="javascript:history.go(-1)" class="back-btn">戻る</a>
    </div>
</body>
</html>
