{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>商品詳細</title>
    <link rel="stylesheet" type="text/css" href="{% static 'buyer/css/product_detail.css' %}">
    <script src="{% static 'buyer/js/popup.js' %}"></script>
</head>
<body>
    <h1>野菜詳細</h1>
    <div class="personal-info">
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="プロフィール画像">
        {% else %}
        <img src="{% static 'images/NoFace.jpg' %}" alt="プロフィール画像">
        {% endif %}
        <p>出品者名 : {{ user.last_name }} {{ user.first_name }}</p>
        <p>住所 : {{ seller.address}}</p>
        <button class="purchase-btn" onclick="openPopup()">購入</buttton>
    </div>
    <div id="popup-content" class="popup-content" style="display: none;">
        <button class="close-btn" onclick="closePopup()">X</button>
        <p class="popup-text">確認</p>
        <div class="form-fields">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>合計金額: {{ form.calculate_total_price }}</p>
                <button class="popup-button" onclick="closePopup()">キャンセル</button>
                <input type="submit" value="購入" class="popup-button">
            </form>
        </div>
    </div>
    <div class="product-detail">
        <h3>商品名：{{ vegetable.item_name }}</h3>
        <p>品種名：{{ vegetable.item_type }}</p>
        <p>まとまりの内容個数：{{ vegetable.content_quantity }}</p>
        <p>まとまりの価格：{{ vegetable.content_price|floatformat:"0" }}円</p>
        <p>まとまりの総数：{{ vegetable.total_quantity }}</p>
    </div>
    <div class="comment-section">
        <h2>コメント</h2>
        {% for comment in vegetable.comments %}
        <div class="comment">
            <p>{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="back-container">
        <a href="#" onclick="window.history.back();" class="back-btn">戻る</a>
    </div>
</body>
</html>
