{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>購入商品一覧</title>
    <link rel="stylesheet" type="text/css" href="{% static 'buyer/css/vegetable_list.css' %}">
</head>
<body>
    <div class="header">
        <h1>購入商品一覧</h1>
    </div>
    <div class="logout-container">
        <a href="{% url 'accounts:logout' %}" class="logout-btn">ログアウト</a>
    </div>
    <div class="product-list">
        <ul>
            {% for vegetable, element in vegetable_and_transaction %}
            <li class="product">
                <h3>{{ vegetable.item_name }}</h3>
                <a href="{% url 'buyer:transaction_detail' vegetable_id=vegetable.id transaction_id=element.purchase_id %}" >詳細</a></p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="back-container">
        <a href="javascript:history.go(-1)" class="back-btn">戻る</a>
    </div>
</body>
</html>
