{% extends 'base.html' %}

{% block title %}
<div class="h1">Edit Profile</div>
{% endblock %}

{% block content %}
<div>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-fields">
            {% for field in form %}
            <div class="form-field">
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
        <div class="mt-3">
            <button type="submit">保存</button>
        </div>
        <!-- ログアウトボタン -->
        <div class="logout-container">
            <a href="javascript:history.go(-1)" class="logout-btn">戻る</a>
        </div>
    </form>
</div>
<style>
    .form-fields {
        text-align: center;
    }

    .form-field {
        margin-bottom: 10px;
    }

    /* ログアウトボタンのスタイル */
    .logout-container {
        position: absolute;
        top: 30px;
        /* 上からの位置 */
        left: 30px;
        /* 左からの位置 */
    }

    .logout-btn {
        background-color: #dc3545;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }

</style>
{% endblock %}
