body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.back-container {
    position: absolute;
    top: 30px;

    left: 30px;

}

.back-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
